---
import config from '@config/config.json';
import { HEADER_NAV_ITEMS, SITE } from '@/constants';
import NavLink from './NavLink.astro';
---

<header class="dark:bg-black py-2">
  <nav class="container flex items-center justify-between py-2" aria-label="Global">
    <div class="flex justify-between">
      <a href="/" class="-m-1.5 p-1.5">
        <span class="sr-only">{SITE.title}</span>
        <img class="h-16 w-auto" src={config.site.logo} alt="We Care Logo" height={18} width={18} />
      </a>
    </div>
    <div class="flex lg:hidden gap-4">
      <button
        id="menu-btn"
        type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-white"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-8 w-8"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
    </div>
    <ul class="hidden lg:flex lg:flex-1 justify-center items-center lg:gap-x-20">
      {
        HEADER_NAV_ITEMS.map((link) => (
          <li>
            <NavLink url={link.url} name={link.name} />
          </li>
        ))
      }
    </ul>
  </nav>
  <div id="navbar" class="hidden lg:hidden" role="dialog" aria-modal="true">
    <div id="navbar-shadow" class="fixed inset-0 z-10 bg-black opacity-70"></div>
    <div
      class="fixed sm:shadow-xl ring-2 ring-text rounded-t-lg sm:rounded-none bottom-0 sm:inset-y-0 sm:right-0 z-10 w-full overflow-y-auto bg-primary dark:bg-primary dark:bg-opacity-6 px-6 py-6 sm:max-w-xs sm:ring-1 sm:ring-gray-900/10"
    >
      <div class="flex items-center justify-between">
        <a href="/" class="-m-1.5 p-1.5">
          <span class="sr-only">{SITE.title}</span>
          <img class="h-16 w-auto" src={config.site.logo} alt="We Care Logo" height={8} width={8} />
        </a>
        <button id="menu-btn" type="button" class="-m-2.5 cursor-pointer rounded-md p-2.5 text-white dark:text-white">
          <span class="sr-only">Close menu</span>
          <svg
            class="h-8 w-8"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y items-center divide-gray-500/10">
          <ul class="space-y-2 py-6 text-center">
            {
              HEADER_NAV_ITEMS.map((link) => (
                <li>
                  <NavLink url={link.url} name={link.name} />
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  const menuBtns = document.querySelectorAll('#menu-btn');
  const navBarShadow = document.querySelector('#navbar-shadow');
  const navbar = document.querySelector('#navbar');

  const toggleMenu = () => {
    navbar?.classList.toggle('hidden');
  };

  navBarShadow?.addEventListener('click', () => {
    navbar?.classList.add('hidden');
  });

  menuBtns.forEach((menuBtn) => {
    menuBtn.addEventListener('click', toggleMenu);
  });
</script>
