---
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import Announcement from '@components/Announcement.astro';
import BaseHead from '@components/BaseHead.astro';
import { SITE } from '@constants/index';

const { title = '', meta, structuredData, lang = 'en' } = Astro.props;

interface Props {
  title?: string;
  meta?: string;
  structuredData?: object;
  lang?: string;
}
---

<html lang={lang} class="scroll-pt-16">
  <head>
    <BaseHead meta={meta} structuredData={structuredData} />
    <title>{SITE.title}{title.length ? `| ${title}` : ''}</title>
  </head>
  <body class="antialiased text-default tracking-tight">
    <slot name="announcement">
      <Announcement />
    </slot>
    <Header />
    <main id="main-content">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global></style>
